<h1>Contact</h1>
<p>
Contact Ruby on Rails Tutorial about the sample app at the
<a href="http://railstutorial.org/feedback">feedback page</a>.
</p>
<p> For More Details contact Nikhil Agrawal . ..
	<br/>	 Mob :  7407660693
	<br/> email : nikhilagrawal1993@gmail.com
</p>
</body>